body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 20px;
	background-color: #5b57579a;
	text-align: center;
	
}

h1, p {
	color: #f7f2f2;
}

.button-container {
	margin: 20px 0;
	display: flex;
	gap: 10px;
	flex-wrap: wrap;
	justify-content: center;
}


.header-error {
	font-size: 200px;
}

.body-error {
	font-size: 50px;
}



button {
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
	border: none;
	border-radius: 5px;
	transition: background-color 0.3s;
}

.get-btn {
	background-color: #FF204E;
	color: white;
}

.get-btn:hover {
	background-color: #FF205E;
}

.post-btn {
	background-color: #5B23FF;
	color: white;
}

.post-btn:hover {
	background-color: #5B24FF;
}

.delete-btn {
	background-color: #008BFF;
	color: white;
}

.delete-btn:hover {
	background-color: #009BFF;
}

.upload-btn {
	background-color: #FF2DD1;
	color: white;
}

.upload-btn:hover {
	background-color: #FF2DD2;
}

footer {
	margin-top: 50px;
	padding-top: 20px;
	border-top: 1px solid #ccc;
	text-align: center;
	color: #f3efef;
}